body { 
    background: url('../assets/sadboy\ gif.gif') no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
height: 100%;
}

@font-face {
    font-family: 'Card Shark';
    src: url(../assets/Card\ Shark.ttf);
}
@font-face {
    font-family: 'sad';
    src: url(../assets/biergarten.ttf);
}
@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #0055fe, 0 0 40px #0055fe, 0 0 50px #0055fe, 0 0 60px #0055fe, 0 0 70px #0055fe;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #3bafff, 0 0 40px #3bafff, 0 0 50px #3bafff, 0 0 60px #3bafff, 0 0 70px #3bafff, 0 0 80px #3bafff;
    }
}
.buttons {
    font-family: 'sad';
    font-size: 48px;
    position: relative;
    opacity: 0.5;
    display: none;
    transition: all 0.2s ease-in-out;
    padding: 10px 30px;
    margin: 25px;
    cursor: pointer;
}
.buttons:hover {
    opacity: 1;
}
#buttons {
    top: 0%;
    right: 0px;
    padding: 15px 25px;
    position: relative;
    list-style-type: none;
    display: inline-block;
    transition: all 0.5s ease-in-out;
}
#display:hover .buttons {
background-color: none;
display: block;
}
#display {
    background-color: white;
    top: 0%;
    right: 0px;
    width: 330px;
    height: 5%;
    padding: 15px 25px;
    opacity: 0.25;
    position: absolute;
    display: inline-block;
    transition: all 0.5s ease-in-out;
}
#display:hover {
    opacity: 0.5;
    width: 330px;
    height: 45%;
}
#audiomenutext {
    top: 0%;
    font-size: 42px;
    position: relative;
    text-align: center;
    margin: 2px;
    font-family: 'sad';
}
#display:hover #audiomenutext{
display: none;
}
#sadtext {
font-size: 120px;
font-family: 'Card Shark';
color: white;
text-align: center;
-webkit-animation: glow 1s ease-in-out infinite alternate;
-moz-animation: glow 1s ease-in-out infinite alternate;
animation: glow 1s ease-in-out infinite alternate;
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  #login {
    background-color:white;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    width: 100%;
    font-family: 'sad';
    opacity: .4;
    top: 0%;
    font-size: 32px;;
    position: absolute;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    }
      #logout {
    background-color:white;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    width: 100%;
    font-family: 'sad';
    opacity: .4;
    top: 0%;
    font-size: 32px;;
    position: absolute;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    }
    
  #logininmodal {
    background-color: black;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-family: 'sad';
    font-size: 32px;;
  }
  #cancel {
    background-color: blue;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 20%;
  }
  
  #login:hover {
    opacity: 0.8;
  }
    
  #cancel:hover {
    opacity: 0.8;
  }
  /* Extra styles for the cancel button */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: blue;
    font-family: 'sad';
    font-size: 32px;;
  }
  
  /* Center the image and position the close button */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
  }
  
  img.avatar {
    width: 30%;
    border-radius: 60%;
  }
  
  .container {
    padding: 16px;
  }
  
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #3bafff;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
    opacity: .75;
    font-family: 'sad';
    font-size: 32px;;
  }
  
  /* The Close Button (x) */
  .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }
  
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
  }
  label {
      font-family: 'sad';
      font-size: 32px;;
  }
  a {
    text-decoration: none;
  }